.cart {
    width: 400px;
    padding: 30px;
    height: 100%;
    z-index: 9999999;

    &__header{
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 8px;
        display: flex;
        justify-content: space-between;

        &--close {
            cursor: pointer;
        }
    }

    &__list {
        display: flex;
        height: 85%;
        flex-direction: column;

        &--items {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow-y: auto;
        }

        &--item {
            display: flex;
            justify-content: space-around;
            height: 100px;
            margin-bottom: 30px;
        }
        
        &--header {
            display: flex;
            justify-content: center;
            font-size: 16px;
            letter-spacing: 3px;
            font-weight: 500;
        }

        &--summary {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
        }

        &--subtotal {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        &--details {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        &--name {
            font-size: 16px;
            font-weight: 500;
        }

        &--image {
            height: 100px;
        }

        &--controls {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            text-decoration: underline;
        }
        
    }
}


@media only screen and (max-width: 450px) {
    .cart {
        width: 300px;
        padding: 10px;

        &__header{
            font-size: 16px;
            letter-spacing: 5px;
        }
        &__list {
            &--subtotal {
                font-size: 16px;
            }

            &--name {
                font-size: 14px;
            }

            &--image {
                height: 75px;
            }

            &--controls {
                font-size: 14px !important;
            }
        }
    }
  }