.productdetails {
    margin-top: 50px;
    margin-bottom: 120px;
    &__header {
        display: flex;
        justify-content: center;
        font-size: 26px;
        letter-spacing: 10px;
        font-weight: 500;
    }

    &__gallery {
        margin-bottom: 30px;
    }

    &__details {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        &--name {
            font-size: 32px;
            font-weight: 500;
            align-self: center;
        }

        &--amount {
            font-size: 18px;
            align-self: center;
        }
        
    }

    &__form {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;

        &--button {
            background-color: #806000 !important;
            color: #FFF !important;
            font-weight: 500 !important;
            letter-spacing: 10px;
            height: 45px;
        }
    }

    &__breadcrumbs {
        font-size: 16px !important;
        margin-bottom: 20px !important;
    }

}


@media only screen and (max-width: 450px) {
    .productdetails {
        &__header {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 50px;
        }

        &__details {
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
    
            &--name {
                font-size: 24px;
                font-weight: 500;
            }
    
            &--amount {
                font-size: 16px;
            }
            
        } 
        &__form {
            &--button {
                span {
                    font-size: 14px !important;
                    letter-spacing: 6px;
                }

            }   
        }       
    }
  }