.ratinglist {
    margin-top: 30px;
    &__header {
        font-size: 24px;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }

    &__secondaryheader {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }

    &__pagination {
        display: flex;
        justify-content: flex-end;
    }


    &__summary {
        margin-top: 20px;
        margin-bottom: 20px;
        &--details {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
    }
}