*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}


#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content{
  flex: 1 0 auto;
}


.text-link, 
.text-link:hover, 
.text-link:active {
  color: inherit;
  text-decoration: inherit;
}

.swal2-container {
  z-index: 1000000 !important;
}
